.APropos_container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    .APropos_Image {
        width: 100%;
        height: 70vh;
        background-image: url('../assets/imgEscrime4.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        .AProposTitle {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 6rem;
        }
    }

    .AProposSubTitle {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2.5rem;
        margin: 3%;
    }
}

.Members {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;

    .Membre {
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;    
        color: #000; 
        border-radius: 20px;
        background-color: #f9faff;  
        padding-bottom: 20px; 

        .MembreImage {
            padding-top: 20px;
            padding-bottom: 20px;
            width: 150px;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 20%;
        }

        .MembreName {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
        }

        .MembreRole {
            width: 80%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            text-align: center;
        }
    }
}

.AProposReseau {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .AProposText {
        color: #000;
        width: 60%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: start;
        margin-bottom: 3%;
    }

    .AProposReseauImages {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
        background-color: #f9faff;
        padding-top: 3%;
        padding-bottom: 3%;
        border-radius: 20px;
        gap: 3%;

        .AProposReseauImage {
            width: 40%;
            height: auto;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }
    }

    .AProposReseauButton {
        width: 60%;
        height: 50px;
        border: none;
        border-radius: 12px;
        background-color: #f9faff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        color: #000;
        cursor: pointer;
        outline: none;
        margin-bottom: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .AProposReseauButton:hover {
        background-color: rgba(0, 0, 0, 0.1)
    }
}