.Professionnels_container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #fff;

    .Professionnels1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .ProfessionnelsSeparator {
            width: 15%;
            height: 10px;
            border-radius: 25px;
            background: linear-gradient(to right, #85e1eb, #bfe1d1, #e7e2c2);
        }

        .Professionnels1_Text {
            width: 80%;
            color: #000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .Professionnels3 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .Professionnels3_ContentLeft {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .Professionnels3_Title {
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 2rem;
                text-align: start;
            }

            .Professionnels3_Text {
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 1rem;
                text-align: start;
            }
        }

    }

    .ProfessionnelsProgramme {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ProfessionnelsProgramme_Content {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            .ProfessionnelsProgramme_Title {
                width: 100%;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 2.4rem;
                text-align: start;
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

            .ProfessionnelsProgramme_Text {
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 1.2rem;
                text-align: start;
            }
        }

        .ProfessionnelsProgramme_Cards {
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            gap: 35px;
            margin-bottom: 35px;
            margin-top: 35px;
            
            .ProfessionnelsProgramme_Card {
                width: 100%;
                height:auto;
                background-color: #f5f5f5;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .ProfessionnelsProgramme_CardTitle {
                width: 80%;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 2rem;
                text-align: start;
                margin-top: 20px;
            }

            .ProfessionnelsProgramme_Text {
                width: 80%;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 1rem;
                text-align: start;
            }

            .ProfessionnelsProgramme_TextPourQui {
                width: 80%;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 1rem;
                text-align: start;
                margin-bottom: 10px;
            }

            .ProfessionnelsProgramme_TextTitle {
                width: 80%;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 1.5rem;
                text-align: start;
                margin-top: 20px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

            .ProfessionnelsProgramme_TextProg {
                width: 80%;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 1rem;
                text-align: start;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                gap: 10px;
            }

            .ProfessionnelProgramme_Icon {
                width: 24px;
                height: 24px;
            }
        }

        .ProfessionnelsProgramme_Ensemble {
            width: 80%;
            color: #000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 3rem;
            text-align: center;
        }
    }
}

@media screen and (max-width: 1440px) {
    .Professionnels_container {
        .Professionnels3 {
            .Professionnels3_ContentLeft {
                .Professionnels3_Title {
                    font-size: 1.5rem;
                }

                .Professionnels3_Text {
                    font-size: 0.8rem;
                }
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .Professionnels_container {
        .Professionnels1 {
            .Professionnels1_Text {
                font-size: 1.2rem;
            }

            .ProfessionnelsSeparator {
                width: 30%;
            }
        }

        .Professionnels3 {
            flex-direction: column;
            margin-top: 10%;

            .Professionnels3_ContentLeft {
                width: 80%;

                .Professionnels3_Title {
                    font-size: 2rem;
                }

                .Professionnels3_Text {
                    font-size: 1.2rem;
                }
            }
        }

        .ProfessionnelsProgramme {
            .ProfessionnelsProgramme_Cards {
                width: 80%;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 20px;
            }

            .ProfessionnelsProgramme_Ensemble {
                font-size: 2.5rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .Professionnels_container {
        .Professionnels1 {
            .Professionnels1_Text {
                font-size: 1rem;
            }

            .ProfessionnelsSeparator {
                width: 35%;
            }
        }

        .Professionnels3 {
            .Professionnels3_ContentLeft {
                .Professionnels3_Title {
                    font-size: 1.5rem;
                }

                .Professionnels3_Text {
                    font-size: 0.8rem;
                }
            }
        }

        .ProfessionnelsProgramme {
            .ProfessionnelsProgramme_Cards {
                width: 90%;

                .ProfessionnelsProgramme_Card {
                    .ProfessionnelsProgramme_CardTitle {
                        font-size: 1.5rem;
                    
                    }

                    .ProfessionnelsProgramme_TextTitle {
                        font-size: 1.2rem;
                    }

                    .ProfessionnelsProgramme_TextPourQui {
                        font-size: 0.8rem;
                    }
                }
            }

            .ProfessionnelsProgramme_Ensemble {
                font-size: 2rem;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .Professionnels_container {
        .Professionnels1 {
            .Professionnels1_Text {
                font-size: 0.8rem;
            }

            .ProfessionnelsSeparator {
                width: 40%;
            }
        }

        .Professionnels3 {
            .Professionnels3_ContentLeft {
                .Professionnels3_Title {
                    font-size: 1.2rem;
                }

                .Professionnels3_Text {
                    font-size: 0.6rem;
                }
            }
        }

        .ProfessionnelsProgramme {
            .ProfessionnelsProgramme_Ensemble {
                font-size: 1.5rem;
            }
        }
    }
}