.Violences_container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ViolencesMethodologies {
        margin-top: 5%;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}