.Infos {
    width: 30%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9faff;
    border-radius: 20px;

    .InfosIcon {
        color: #000;
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .InfosTitle {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 15px;
        text-align: center;
    }

    .InfosText {
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 30px;
    }
}